<div class="flex flex-col gap-2">
  <button (click)="toggleFormView()">Toggle Form {{ showTaskForm ? 'Showing' : 'Hiding' }}</button>
  @if (showTaskForm) {
    <form [formGroup]="form" (submit)="addTask()" class="text-2xl">
      <div class="flex flex-col">
        <label>Title</label>
        <input formControlName="title" class="border-2 w-50 p-2 rounded-lg" />
        @if (form.controls.title.touched && form.controls.title.invalid) {
          <span class="text-red-600 font-semibold text-2xl">Title is required</span>
        }
      </div>
      <div>
        <label>Status</label>
        <select formControlName="status">
          @for (option of availableStatuses; track option) {
            <option [value]="option">{{ option }}</option>
          }
        </select>
      </div>
      <button type="submit">Add task</button>
    </form>
    <!-- <div>
      <form (submit)="addTaskHandler($event); $event.preventDefault()">
        <div>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" required />
        </div>

        <div>
          <label for="title">Status</label>
          <select required>
            @for (option of availableStatuses; track option) {
              <option>{{ option }}</option>
            }
          </select>
        </div>
        <button type="submit">Add task</button>
      </form>
    </div> -->
  }

  <div class="flex flex-col gap-2">
    <input [formControl]="searchControl" type="text" placeholder="Search tasks" />
    <button (click)="handleClearSearch()">Clear</button>
  </div>

  <div>
    <label>Select Filter By</label>
    <select [formControl]="filterControl">
      <option value="all">All</option>
      @for (option of availableStatuses; track option) {
        <option [value]="option">{{ option }}</option>
      }
    </select>
  </div>

  @if (filteredTasks$ | async; as tasks) {
    <ul>
      @for (task of tasks; track task.id) {
        <li>{{ task.title }}</li>
      }
    </ul>
  }
</div>
